<div id="workspace-wrapper" [class]="theme">
  <md-toolbar color="primary">
    <div fx-flex="56px"></div>
    <button md-button (click)="changeTheme('')" routerLink="/dashboard/tasks">DASHBOARD</button>
    <button md-button (click)="changeTheme('residents-theme')" routerLink="/residents/list">RESIDENTS</button>
    <button md-button (click)="changeTheme('staff-theme')" >STAFF</button>
    <button md-button (click)="changeTheme('company-theme')" >COMPANY</button>
  </md-toolbar>

  <router-outlet></router-outlet>

</div>
