<div id="workspace-wrapper" [class]="theme">
  <md-toolbar class="main-toolbar" color="primary">
    <!--Menu Button-->
    <div fxHide="false" fxHide.gt-xs fxFlex="48px" fxLayout="row" fxLayoutAlign="center center">
      <button md-icon-button>
        <md-icon class="md-24">menu</md-icon>
      </button>
    </div>
    <span fxShow="<false></false>" fxShow.gt-xs fxFlex="48px"></span>
    <!--Dashboard Button-->
    <a md-button fxHide="false" fxHide.xs (click)="changeTheme('')" routerLink="/dashboard/tasks">
      DASHBOARD
    </a>
    <!--Resdients Button-->
    <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('residents-theme')" routerLink="/residents/list">
      RESIDENTS
    </a>
    <!--Staff Button-->
    <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('staff-theme')">
      STAFF
    </a>
    <!--Company Button-->
    <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('company-theme')">
      COMPANY
    </a>
  </md-toolbar>

  <router-outlet></router-outlet>

</div>
