<md-sidenav-container fxFlex align="start" class="main-sidenav-container">
  <md-sidenav #sidenav class="main-sidenav" align="start">
    <div [class]="theme">
      <md-toolbar class="md-primary">
        <!--@Temporary Currently logged in user should have their name here-->
        Brane Vrajich
      </md-toolbar>
    </div>
    <md-nav-list>
      <h2 md-subheader>MY STUFF</h2>
      <md-list-item>
        <md-icon md-list-icon>account_circle</md-icon>
        <a md-line>
          PROFILE
        </a>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>settings</md-icon>
        <a md-line>
          SETTINGS
        </a>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>library_books</md-icon>
        <a md-line>
          TRAINING
        </a>
      </md-list-item>

      <md-divider></md-divider>
      <h2 md-subheader>MODULES</h2>

      <md-list-item class="dashboard-theme nav-button" (click)="changeTheme('')" routerLink="/dashboard/tasks" routerLinkActive="active">
        <md-icon md-list-icon class="md-primary">dashboard</md-icon>
        <a md-line>
          DASHBOARD
        </a>
      </md-list-item>
      <md-list-item class="residents-theme nav-button" (click)="changeTheme('residents-theme')" routerLink="/residents/list" routerLinkActive="active">
        <md-icon md-list-icon class="md-primary">people</md-icon>
        <a md-line>
          RESIDENTS
        </a>
      </md-list-item>
      <md-list-item class="staff-theme nav-button" (click)="changeTheme('staff-theme')" routerLink="/staff/list">
        <md-icon md-list-icon class="md-primary">face</md-icon>
        <a md-line>
          STAFF
        </a>
      </md-list-item>
      <md-list-item class="company-theme nav-button" (click)="changeTheme('company-theme')">
        <md-icon md-list-icon class="md-primary">business</md-icon>
        <a md-line>
          COMPANY
        </a>
      </md-list-item>
      <md-divider></md-divider>
    
    </md-nav-list>

    <!--TODO Add dropdown to changed currently facility-->


  </md-sidenav>



  <div id="workspace-wrapper" [class]="theme">
    <md-toolbar class="main-toolbar" color="primary">
      <!--Menu Button-->
      <div fxHide="false" fxHide.gt-xs fxFlex="48px" fxLayout="row" fxLayoutAlign="center center">
        <button md-icon-button (click)="sidenav.toggle()">
          <md-icon class="md-24">menu</md-icon>
        </button>
      </div>
      <!--@Temporary -->
      <!--<div>
        <button md-icon-button (click)="sidenav.toggle()">
          <md-icon class="md-24">menu</md-icon>
        </button>
      </div>-->
      <span fxShow="false" fxShow.gt-xs fxFlex="48px"></span>
      <!--Dashboard Button-->
      <a md-button fxHide="false" fxHide.xs (click)="changeTheme('')" routerLink="/dashboard/tasks" routerLinkActive="active">
        DASHBOARD
      </a>
      <!--Resdients Button-->
      <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('residents-theme')" routerLink="/residents/list" routerLinkActive="active">
        RESIDENTS
      </a>
      <!--Staff Button-->
      <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('staff-theme')" routerLink="/staff/list">
        STAFF
      </a>
      <!--Company Button-->
      <a md-button fxHide="false" fxHide.xs fxHide.xs (click)="changeTheme('company-theme')">
        COMPANY
      </a>

      <span fxFlex></span>

      <button md-icon-button>
        <md-icon class="md-24">add</md-icon>
      </button>
      <button md-icon-button (click)="messageSidenav.toggle()">
        <md-icon class="md-24">announcement</md-icon>
      </button>
    </md-toolbar>

    <router-outlet></router-outlet>

  </div>

  <!--Message Center Sidenav-->
  <md-sidenav #messageSidenav class="message-sidenav" align="end">
    
    <div [class]="theme">
      <md-toolbar fxLayoutAlign="center center" color="primary">
        NOTIFICATIONS
      </md-toolbar>
    </div>

    <md-tab-group>
      <md-tab label="ALL">
        
        <h1>Best pasta restaurants</h1>
        <p>...</p>
      </md-tab>
      <md-tab>
        <template md-tab-label>
           <md-icon class="md-24">warning</md-icon>
        </template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </md-tab>
      <md-tab>
        <template md-tab-label>
           <md-icon class="md-24">alarm</md-icon>
        </template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </md-tab>
      <md-tab>
        <template md-tab-label>
           <md-icon class="md-24">message</md-icon>
        </template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </md-tab>
    </md-tab-group>
  </md-sidenav>

</md-sidenav-container>