@import '~@angular/material/core/style/elevation';
@import '~@angular/material/core/theming/theming';

$sidenav-mobile-width: 250px !default;
$sidenav-desktop-width: 400px !default;

:host {
  //height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  
  // .main-toolbar {
  //   padding-left: 0;
  // }
} 

md-toolbar.main-toolbar {
  @include md-elevation(2);
}

#workspace-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.main-sidenav-container {
  height: 100%;

}

md-sidenav {
  min-width: $sidenav-mobile-width;
}
