<alc-vertical-toolbar fxFlexOrder fxFlexOrder.xs="1">
  <a md-icon-button routerLink="tasks" routerLinkActive="active">
    <md-icon class="md-24">assignment_turned_in</md-icon>
  </a>
  <a md-icon-button routerLinkActive="active">
    <md-icon class="md-24">local_pharmacy</md-icon>
  </a>
  <a md-icon-button routerLinkActive="active">
    <md-icon class="md-24">healing</md-icon>
  </a>
  <a md-icon-button routerLinkActive="active">
    <md-icon class="md-24">remove_red_eye</md-icon>
  </a>
  <a md-icon-button routerLinkActive="active">
    <md-icon class="md-24">assessment</md-icon>
  </a>
</alc-vertical-toolbar>

<router-outlet></router-outlet>