<alc-vertical-toolbar>
  <button md-icon-button>
    <md-icon class="md-24">assignment_turned_in</md-icon>
  </button>
  <button md-icon-button>
    <md-icon class="md-24">local_pharmacy</md-icon>
  </button>
  <button md-icon-button>
    <md-icon class="md-24">healing</md-icon>
  </button>
  <button md-icon-button>
    <md-icon class="md-24">remove_red_eye</md-icon>
  </button>
  <button md-icon-button>
    <md-icon class="md-24">assessment</md-icon>
  </button>
</alc-vertical-toolbar>

<router-outlet></router-outlet>