@import '~@angular/material/core/style/variables';
// Makes a flex container out of a module's content or the component that gets loaded
// into the module content area beneath the  main navigation. Used in residents.component,
// dashboard.component, staff.component, etc.
@mixin module-content(){
  :host {
    display: flex;
    flex-direction: row;
    flex: 1;
    box-sizing: border-box;
  }

  @media ($md-xsmall) and (orientation: portrait){
    :host {
      flex-direction: column;
    }
  }

  @media ($md-xsmall) and (orientation: landscape){
    :host {
      flex-direction: row;
    }
  }

}