<md-sidenav-container>
  <md-sidenav class="account-sidenav" mode="side" align="start" opened="true">
    
    <button md-raised-button routerLink="/dashboard">DASHBOARD</button>
    <md-nav-list>
      <md-list-item 
      class="dashboard-theme nav-button" 
      (click)="changeTheme('')" 
      routerLink="summary" 
      routerLinkActive="active">
        <md-icon md-list-icon class="md-primary">dashboard</md-icon>
        <a md-line>
          SUMMARY
        </a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>

